allow audioserver gpsd_exec:file getattr;
allow bootanim gpsd_exec:file getattr;
allow gpsd sysfs:file write;
allow hal_wifi_supplicant_default rfkill_device:chr_file { open read };
allow netd gpsd_exec:file { write getattr };
allow tee gpsd_exec:file getattr;
allow untrusted_app_25 proc_vmstat:file getattr;
allow zygote gpsd_exec:file getattr;
allow hal_cas_default gpsd_exec:file getattr;
allow hal_sensors_default input_device:chr_file { ioctl open read };
allow healthd gpsd_exec:file getattr;
allow sgdisk gpsd_exec:file getattr;
allow mediaserver gpsd_exec:file getattr;
allow surfaceflinger gpsd_exec:file getattr;
allow hal_drm_default gpsd_exec:file getattr;
allow wificond gpsd_exec:file getattr;
allow hal_camera_default gpsd_exec:file getattr;
allow cameraserver gpsd_exec:file getattr;
allow hal_configstore_default gpsd_exec:file getattr;
allow hal_gnss_default gpsd_exec:file getattr;
allow hal_lineage_trust_default gpsd_exec:file getattr;
allow usbd gpsd_exec:file getattr;
allow tombstoned gpsd_exec:file getattr;
allow thermalserviced gpsd_exec:file getattr;
allow hal_memtrack_default gpsd_exec:file getattr;
allow hal_power_default gpsd_exec:file getattr;
allow hal_usb_default gpsd_exec:file getattr;
allow hal_wifi_default gpsd_exec:file getattr;
allow hal_lineage_touch_default gpsd_exec:file getattr;
allow hal_lineage_touch_default_exec gpsd_exec:file getattr;
allow lmkd gpsd_exec:file getattr;
allow installd gpsd_exec:file getattr;
allow keystore gpsd_exec:file getattr;
allow gatekeeperd gpsd_exec:file getattr;
allow incidentd gpsd_exec:file getattr;
