#============= cameraserver ==============
allow cameraserver video_device:chr_file { ioctl open };

type hal_allocator_default, domain, coredomain;
hal_server_domain(hal_allocator_default, hal_allocator)

type hal_allocator_default_exec, exec_type, file_type;
init_daemon_domain(hal_allocator_default)

allow cameraserver hal_allocator_default:fd use;
