allow app_zygote zygote_exec:file { open read execute };
allow app_zygote app_data_file:dir getattr;
allow app_zygote debugfs_tracing_debug:file { getattr open write };

