allow init debugfs_tracing_debug:file { open write };
allow bootanim debugfs_tracing_debug:file { open write };
allow zygote debugfs_tracing_debug:file { open write getattr };
allow mediacodec debugfs_tracing_debug:file { open write };
allow adbd debugfs_tracing_debug:file { open write };
allow dex2oat debugfs_tracing_debug:file { open write };
allow hal_memtrack_default debugfs:dir { open read };
allow hal_memtrack_default debugfs:file { open read getattr };
allow audioserver debugfs_tracing_debug:file { open write };
allow installd debugfs_tracing_debug:file { open write };
allow mediaserver debugfs_tracing_debug:file { open write };
allow webview_zygote debugfs_tracing_debug:file { open write getattr };
allow netd debugfs_tracing_debug:file { open write };
allow vold debugfs_tracing_debug:file { open write };
allow hal_drm_default debugfs_tracing_debug:file { open write };
allow crash_dump debugfs_tracing_debug:file { open write };
allow hal_camera_default debugfs_tracing_debug:file { open write };
allow cameraserver debugfs_tracing_debug:file { open write };
allow surfaceflinger debugfs_tracing_debug:file { open write };
allow hal_cas_default debugfs_tracing_debug:file { open write };
allow gatekeeperd debugfs_tracing_debug:file { open write };
allow hal_sensors_default debugfs_tracing_debug:file { open write };
