# /dev/ttySAC0
type bluetooth_device, dev_type;

# /dev/block/mmcblk0p[0-9] (/dev/mbin0)
type emmcblk_device, file_type, dev_type, mlstrustedsubject;

# /dev/umts_boot*
type mif_device, dev_type;

# /dev/rfkill
type rfkill_device, dev_type;

# /dev/s5p-smem
type secmem_device, dev_type;

# efs
type efs_block_device, dev_type;

type radio_block_device, dev_type;

type gps_device, dev_type;
