# efs types
type app_efs_file, file_type;
type battery_efs_file, file_type;
type bin_nv_data_efs_file, file_type;
type nv_log_efs_file, file_type;
type cpk_efs_file, file_type;
type drm_efs_file, file_type;
type imei_efs_file, file_type;
type prov_efs_file, file_type;
type sec_efs_file, file_type;
type wifi_efs_file, file_type;
type mediadrm_vendor_data_file, file_type, data_file_type;
type radio_factoryapp_efs_file, file_type;
type factorymode_factoryapp_efs_file, file_type;
type baro_delta_factoryapp_efs_file, file_type;

# sysfs types
type sysfs_camera, sysfs_type, fs_type, mlstrustedobject;
type sysfs_camera_writable, sysfs_type, fs_type, mlstrustedobject;
type sysfs_gps, sysfs_type, fs_type, mlstrustedobject;
type sysfs_battery, sysfs_type, fs_type, mlstrustedobject;
type sysfs_input, sysfs_type, fs_type, mlstrustedobject;
type sysfs_decon, sysfs_type, fs_type, mlstrustedobject;
type sysfs_brightness, sysfs_type, fs_type, mlstrustedobject;
type sysfs_v4l, sysfs_type, fs_type, mlstrustedobject;
type sysfs_light, sysfs_type, fs_type, mlstrustedobject;
type sysfs_sensors, sysfs_type, fs_type, mlstrustedobject;

# debugfs types
type debugfs_ion, debugfs_type, fs_type;
type debugfs_mali, debugfs_type, fs_type;

# proc types
type proc_swappiness, proc_type, fs_type;
