neverallow fsck_untrusted {
 efs_block_device
}:blk_file no_rw_file_perms;

allow fsck_untrusted block_device:dir getattr;

allowxperm fsck_untrusted vold_device:blk_file ioctl 0x1271;
allowxperm fsck_untrusted vold_device:blk_file ioctl BLKROGET;
