# /dev/block/mmcblk0p[0-9]*
allow fsck emmcblk_device:blk_file rw_file_perms;
allowxperm fsck emmcblk_device:blk_file ioctl { BLKGETSIZE64 BLKDISCARDZEROES BLKROGET };
