allow hal_camera_default sysfs_camera:dir search;
allow hal_camera_default sysfs_camera:file { getattr open read write };

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

vndbinder_use(hal_camera_default)
