allow hal_configstore_default debugfs_tracing_debug:file { open write };
allow hal_configstore_default sysfs:file { getattr open read };
allow hal_configstore_default gpsd_exec:file getattr;

