allow hal_wifi_hostapd_default gpsd_exec:file getattr;
allow hal_wifi_hostapd_default rfkill_device:chr_file { open read };
allow hal_wifi_hostapd_default debugfs_tracing_debug:file { open write };

