allow hal_memtrack_default debugfs_mali:dir { open read };
allow hal_memtrack_default debugfs_mali:file { getattr open read };
allow hal_memtrack_default debugfs_ion:file { getattr open read };
