allow hal_wifi_default wifi_efs_file:dir r_dir_perms;
allow hal_wifi_default wifi_efs_file:file r_file_perms;
allow hal_wifi_default efs_file:dir search;
allow hal_wifi_default self:capability sys_module;
allow hal_wifi_default vendor_file:system module_load;

set_prop(hal_wifi_default, wifi_prop)
