allow hal_gnss_default gps_data_file:fifo_file { open read write create setattr };
allow hal_gnss_default gps_data_file:dir { write add_name search };
allow hal_gnss_default vndbinder_device:chr_file { open read write };
