r_dir_file(hal_camera_default, sysfs_camera);
allow hal_camera_default sysfs_camera_writable:file rw_file_perms;

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

vndbinder_use(hal_camera_default)
