allow hal_bluetooth_default bluetooth_device:chr_file { ioctl open read write };
allow hal_bluetooth_default bluetooth_data_file:file create_file_perms;
allow hal_bluetooth_default bluetooth_data_file:dir rw_dir_perms;
allow hal_bluetooth_default efs_file:dir search;

unix_socket_connect(hal_bluetooth_default, property, wcnss_filter)
