allow hwservicemanager drm:binder call;
allow hwservicemanager drm:dir search;
allow hwservicemanager drm:file { read open };
allow hwservicemanager drm:process getattr;
allow hwservicemanager gpsd:dir search;
allow hwservicemanager gpsd:file { open read };
allow hwservicemanager gpsd:process getattr;
allow hwservicemanager gpsd:binder transfer;
allow hwservicemanager init:binder call;
allow hwservicemanager init:dir search;
allow hwservicemanager init:file { open read };
allow hwservicemanager init:process getattr;
allow hwservicemanager sysfs:file { getattr open read };
allow hwservicemanager gpsd_exec:file getattr;

