allow netd self:capability sys_module;
allow netd gpsd:fd use;
allow netd gpsd:udp_socket rw_socket_perms;
allow netd gpsd:tcp_socket rw_socket_perms;
