allow netd self:capability sys_module;
allow netd dhcp_data_file:dir setattr;
allow netd wifi_data_file:sock_file { create setattr unlink };

allow netd self:system module_request;
allow netd self:capability sys_module;
allow netd gpsd:fd use;
allow netd gpsd:udp_socket { setopt getopt read write };
allow netd init:udp_socket { read write };
