#============= init ==============
allow init hal_wifi_hwservice:hwservice_manager add;
allow init self:netlink_socket { bind create getattr read setopt write };
allow init self:udp_socket { getopt connect ioctl };
allow init sysfs_wlan_fwpath:file { open write };
allow init self:udp_socket { setopt write };
allow init su_exec:file getattr;

#============= netd ==============
allow netd init:udp_socket { getopt setopt };

#============= vendor_init ==============
allow vendor_init sysfs:lnk_file setattr;

#============= vold ==============
allow vold hal_bootctl_hwservice:hwservice_manager find;

#============= fsck ==============
allow fsck emmcblk_device:blk_file ioctl;

#============= priv_app ==============
allow priv_app system_data_file:dir { open read };

#============= hwservicemanager ==============
allow hwservicemanager init:binder call;

#============= app_zygote ==============
allow app_zygote app_data_file:dir getattr;

#============= crash_dump ==============
allow crash_dump debugfs_tracing_debug:file { open write };
allow crash_dump device_config_runtime_native_prop:file { getattr open };
allow crash_dump hwservicemanager_prop:file { getattr open };
allow crash_dump shared_relro_file:file { getattr open read };

#============= system_server ==============
allow system_server debugfs:file { getattr open read };

#============= untrusted_app_27 ==============
allow untrusted_app_27 proc_net:file read;
allow untrusted_app_27 proc_net_tcp_udp:file { open read };
allow untrusted_app_27 serialno_prop:file { getattr open };
allow untrusted_app_27 su_exec:file getattr;
