#============= fsck ==============
allow fsck sec_efs_file:blk_file { getattr ioctl open read write };

#============= init ==============
allow init sec_efs_file:blk_file { getattr open read };
allow init sec_efs_file:dir mounton;

#============= priv_app ==============
allow priv_app sysfs:file getattr;

#============= rild ==============
allow rild device:chr_file { ioctl open read };

#============= system_server ==============
allow system_server init:binder transfer;

#============= ueventd ==============
allow ueventd sec_efs_file:blk_file { getattr setattr };

#============= vendor_init ==============
allow vendor_init device:file { create write };

#============= radio ==============
allow radio gpu_service:service_manager find;
allow radio gpuservice:binder call;

allow vendor_init wifi_data_file:dir search;

allow vendor_init media_rw_data_file:dir search;

allow crash_dump init:process ptrace;

allow priv_app adb_data_file:file { getattr open read execute };
allow priv_app adb_data_file:dir { getattr search };

allow platform_app adb_data_file:file { getattr open read execute };
allow platform_app adb_data_file:dir { getattr search };
