allow radio system_app_data_file:dir getattr;
allow radio adb_data_file:file { open read getattr };
allow radio gpu_service:service_manager find;
allow radio gpuservice:binder call;

