allow untrusted_app_27 adb_data_file:file { getattr open read execute };
allow untrusted_app_27 adb_data_file:dir { getattr search };
allow untrusted_app_27 proc_asound:dir search;
allow untrusted_app_27 proc_asound:file { open read getattr };
allow untrusted_app_27 serialno_prop:file { open read getattr };
allow untrusted_app_27 apk_data_file:file setattr;
