allow untrusted_app_25 mnt_media_rw_file:dir getattr;
allow untrusted_app_25 proc:file getattr;
allow untrusted_app_25 proc_stat:file { getattr open };
allow untrusted_app_25 gpsd_exec:file getattr;
allow untrusted_app_25 camera_device:dir search;
allow untrusted_app_25 camera_device:file { open read getattr };
allow untrusted_app_25 serialno_prop:file { open read getattr };
allow untrusted_app_25 proc_asound:dir search;
allow untrusted_app_25 proc_asound:file { open read getattr };
allow untrusted_app_25 adb_data_file:file { getattr open read execute };
allow untrusted_app_25 adb_data_file:dir { getattr search };
allow untrusted_app_25 proc_vmstat:file open;
allow untrusted_app_25 sysfs:file { getattr open read };
allow untrusted_app_25 sysfs:dir { getattr open read };
allow untrusted_app_25 proc_vmstat:file getattr;

