allow untrusted_app device:dir { open read };
allow untrusted_app serialno_prop:file { open read getattr };
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app adb_data_file:file { getattr open read execute };
allow untrusted_app adb_data_file:dir { getattr search };
allow untrusted_app proc_asound:dir search;
allow untrusted_app proc_asound:file { open read getattr };
allow untrusted_app sysfs:dir { getattr open read };
allow untrusted_app sysfs:file { getattr open read };
