allow untrusted_app battery_service:service_manager find;
allow untrusted_app device:dir read;
allow untrusted_app untrusted_app:udp_socket ioctl;
allow untrusted_app proc_stat:file { open getattr };
allow untrusted_app gpsd_exec:file getattr;
allow untrusted_app serialno_prop:file { open read getattr };
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app adb_data_file:file { getattr open read execute };
allow untrusted_app adb_data_file:dir { getattr search };
allow untrusted_app proc_asound:dir search;
allow untrusted_app proc_asound:file { open read getattr };
allow untrusted_app net_dns_prop:file open;
allow untrusted_app sysfs:dir { getattr open read };
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app proc_vmstat:file { getattr open };

