on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # for WIFI MAC address
    mkdir /efs/wifi 0775 radio system
    chown system wifi /efs/wifi/.mac.info
    chmod 0660 /efs/wifi/.mac.info

    # Set permissions for firmware path control
    chown wifi wifi /sys/module/wlan/parameters/fwpath

on boot
    # Pcie WiFi T-put setting
    write /sys/class/net/wlan0/queues/rx-0/rps_cpus 00
