import /vendor/etc/init/hw/init.samsungexynos7870.usb.rc
import /vendor/etc/init/hw/init.wifi.rc
import /vendor/etc/init/hw/init.power.rc

# Samsung stock init.rc additions
import /vendor/etc/init/hw/init.samsung.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

    # Allow access to debugfs for user and group system
    chmod 0755 /sys/kernel/debug
    chown system system /sys/kernel/debug

    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

on init
    mkdir /storage/emulated 0555 root root

    symlink /dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT /dev/block/persistent
    symlink /dev/block/platform/13540000.dwmmc0/by-name/STEADY /dev/block/steady

on post-fs
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    chmod 0222 /sys/kernel/tracing/trace_marker

on post-fs-data
    # C-STATE
    chown system system /sys/module/cpuidle/parameters/off
    chmod 0660 /sys/module/cpuidle/parameters/off

    # CPU Idle
    chown system system /sys/module/cpuidle_exynos64/parameters/enable_mask

    # GPS
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/beidou_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info

    restorecon /sys/kernel/debug/tracing/trace_marker

    setprop vold.post_fs_data_done 1

on boot
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  4194304
    write /proc/sys/net/core/wmem_max  4194304

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # 1-key hard reset
    chown system system /sys/power/reset_enabled
    chmod 0660 /sys/power/reset_enabled

    # GPU dvfs node
    chown radio system /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock
    
    # mif, int
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/min_freq
    chmod 0664 /sys/class/devfreq/17000010.devfreq_mif/min_freq
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/max_freq
    chmod 0664 /sys/class/devfreq/17000010.devfreq_mif/max_freq
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/available_frequencies
    chmod 0644 /sys/class/devfreq/17000010.devfreq_mif/available_frequencies
    chown radio system /sys/class/devfreq/17000020.devfreq_int/min_freq
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/min_freq
    chown radio system /sys/class/devfreq/17000020.devfreq_int/max_freq
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/max_freq
    chown radio system /sys/class/devfreq/17000020.devfreq_int/available_frequencies
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/available_frequencies

    # RTC status
    chown system system /sys/power/rtc_status
    chmod 0444 /sys/power/rtc_status
    chown system system /efs/FactoryApp/rtc_status
    chmod 0664 /efs/FactoryApp/rtc_status

    chown bluetooth bluetooth /dev/ttySAC0
    chmod 0660 /dev/ttySAC0

    # Secure OS migration
    chown radio system /sys/devices/system/sec_os_ctrl/migrate_os
    chmod 664 /sys/devices/system/sec_os_ctrl/migrate_os

    # permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo

    # Meta event
    chown system radio /sys/class/sensors/sensor_dev/flush

    # Permissions for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

    # terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

    # for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

on fs
    mount_all /vendor/etc/fstab.samsungexynos7870
    chown radio system /efs

    # Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness

    # Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type

    # Permissions for touchscreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled

    # Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system system /sys/class/sec/sec_touchkey/input/enabled

    # Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

    # Permissions for camera
    mkdir /data/camera 0770 cameraserver system
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_caminfo
    chown system radio /sys/class/camera/rear/rear_sensorid
    chmod 0660 /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/flash/rear_flash
    chmod 0660 /sys/class/camera/flash/rear_torch_flash
    chown cameraserver system /sys/class/camera/flash/rear_torch_flash
    chown system radio /sys/class/camera/rear/fw_update
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/camera/front/front_caminfo
    chown system radio /sys/class/camera/front/front_sensorid
    chown system system /sys/devices/svc/Camera/SVC_rear_module

# GPS
service gpsd /vendor/bin/hw/gpsd -c /vendor/etc/gps.xml
    user gps
    group system inet net_raw wakelock
    ioprio be 0
    seclabel u:r:gpsd:s0

service charger /system/bin/charger
    class charger
    user system
    group system graphics input 
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

# Bluetooth
on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

service start_hci_filter /vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth
    seclabel u:r:wcnss_filter:s0
    disabled

# MobiCore startup
service wifi-daemon /vendor/bin/cbd -tmodap_ap -bm -mm -P platform/13540000.dwmmc0/by-name/RADIO
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cbd:s0
    oneshot

on property:sys.boot_completed=1
    start gpsd
    swapon_all /vendor/etc/fstab.samsungexynos7870
