import init.samsungexynos7870.usb.rc
import init.rilcommon.rc
import init.wifi.rc

# Samsung stock init.rc additions
import init.samsung.rc

on early-init
    mkdir /efs 0771 radio system
    mkdir /cpefs 0771 radio system
    mount debugfs /sys/kernel/debug /sys/kernel/debug
on init
    start watchdogd

    mkdir /preload 0771 system system

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    # Support legacy paths
    symlink /sdcard /mnt/sdcard

    export EXTERNAL_STORAGE /sdcard
    symlink /data/app /factory
    symlink /dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT /dev/block/persistent
    symlink /dev/block/platform/13540000.dwmmc0/by-name/STEADY /dev/block/steady

on post-fs-data
# Log data folder
#   mkdir /data/log 0771 radio system

# C-STATE
    chown system system /sys/module/cpuidle/parameters/off
    chmod 0660 /sys/module/cpuidle/parameters/off

# CPU Idle
    chown system system /sys/module/cpuidle_exynos64/parameters/enable_mask

# Audio I2C node for TFA amp
    chmod 0660 /dev/i2c-20
    chown audio audio /dev/i2c-20

#GPS
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/system/gps/gps_started
    rm /data/system/gps/glonass_started
    rm /data/system/gps/beidou_started
    rm /data/system/gps/smd_started
    rm /data/system/gps/sv_cno.info


    setprop vold.post_fs_data_done 1

# /efs/factory.prop for Dual / Single SIM settings
    chown radio radio /efs/factory.prop
    chmod 0600 /efs/factory.prop

    restorecon /sys/kernel/debug/tracing/trace_marker

on boot
    # override init.rc to keep plenty of large order chunks around
    # to improve allocation times
#    write /proc/sys/vm/min_free_kbytes 32768
#    write /proc/sys/vm/min_free_order_shift 1

# SSWAP
    write /proc/sys/vm/swappiness 130

#   mount debugfs /sys/kernel/debug /sys/kernel/debug
    # Allow to access debugfs for system:system
	chmod 755 /sys/kernel/debug
    chown system system /sys/kernel/debug
#   setprop ro.radio.noril yes

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  4194304
    write /proc/sys/net/core/wmem_max  4194304

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # sec_log
    chown system log /proc/sec_log

    # Permissions for NAD
    symlink /dev/block/platform/13540000.dwmmc0/by-name/NAD_REFER /dev/block/NAD_REFER
    chown system radio /sys/class/sec/sec_nad/nad_stat
    chmod 0664 /sys/class/sec/sec_nad/nad_stat
    chown system radio /sys/class/sec/sec_nad/nad_erase
    chmod 0664 /sys/class/sec/sec_nad/nad_erase
    chown system radio /sys/class/sec/sec_nad/nad_acat
    chmod 0664 /sys/class/sec/sec_nad/nad_acat
    chown system radio /sys/class/sec/sec_nad/nad_dram
    chmod 0664 /sys/class/sec/sec_nad/nad_dram
    chown system radio /sys/class/sec/sec_nad/nad_all
    chmod 0664 /sys/class/sec/sec_nad/nad_all
    chown system radio /dev/block/NAD_REFER
    chmod 0664 /dev/block/NAD_REFER

    # 1-key hard reset
    chown system system /sys/power/reset_enabled
    chmod 0660 /sys/power/reset_enabled

    # CPU hotplug
    chown system system /sys/power/cpuhotplug/enable
    chmod 0660 /sys/power/cpuhotplug/enable
    chown system system /sys/power/cpuhotplug/min_online_cpu
    chmod 0664 /sys/power/cpuhotplug/min_online_cpu
    chown system system /sys/power/cpuhotplug/max_online_cpu
    chmod 0664 /sys/power/cpuhotplug/max_online_cpu

    # GPU dvfs node
    chown radio system /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock
    
    # mif, int
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/min_freq
    chmod 0664 /sys/class/devfreq/17000010.devfreq_mif/min_freq
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/max_freq
    chmod 0664 /sys/class/devfreq/17000010.devfreq_mif/max_freq
    chown radio system /sys/class/devfreq/17000010.devfreq_mif/available_frequencies
    chmod 0644 /sys/class/devfreq/17000010.devfreq_mif/available_frequencies
    chown radio system /sys/class/devfreq/17000020.devfreq_int/min_freq
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/min_freq
    chown radio system /sys/class/devfreq/17000020.devfreq_int/max_freq
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/max_freq
    chown radio system /sys/class/devfreq/17000020.devfreq_int/available_frequencies
    chmod 0664 /sys/class/devfreq/17000020.devfreq_int/available_frequencies

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

    # RTC status
    chown system system /sys/power/rtc_status
    chmod 0444 /sys/power/rtc_status
    chown system system /efs/FactoryApp/rtc_status
    chmod 0664 /efs/FactoryApp/rtc_status

    chown bluetooth bluetooth /dev/ttySAC0
    chmod 0660 /dev/ttySAC0

# sem_daemon permission
    chown system system /efs/sec_efs/ssp_data
    chmod 0644 /efs/sec_efs/ssp_data

#MST HW Support
    setprop ro.mst.support 1

#Secure OS migration
    chown radio system /sys/devices/system/sec_os_ctrl/migrate_os
    chmod 664 /sys/devices/system/sec_os_ctrl/migrate_os

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo

# Sensors permissions
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter

# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
    chown system radio /sys/class/sensors/proximity_sensor/prox_probe

# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name

# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name

# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/barometer_sensor/temperature

# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sensor_dump

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/light_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/prox_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/sig_motion_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_cnt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/interrupt_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/tilt_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pickup_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chown system radio /sys/class/sensors/ssp_sensor/int_gyro_enable
    chown system radio /sys/class/sensors/ssp_sensor/sensor_state
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

 # MOBEAM
    chown system radio /sys/class/sec/sec_barcode_emul/vendor
    chown system radio /sys/class/sec/sec_barcode_emul/name
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check

#Meta event
    chown system radio /sys/class/sensors/sensor_dev/flush

# Permission for USB SELECT
    chown system system /sys/class/android_usb/android0/enable
    chmod 0660 /sys/class/android_usb/android0/enable
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0660 /sys/class/android_usb/android0/idVendor
    chown system system /sys/class/android_usb/android0/idProduct
    chmod 0660 /sys/class/android_usb/android0/idProduct
    chown system system /sys/class/android_usb/android0/f_diag/clients
    chmod 0660 /sys/class/android_usb/android0/f_diag/clients
    chown system system /sys/class/android_usb/android0/functions
    chmod 0660 /sys/class/android_usb/android0/functions
    chown system system /sys/class/android_usb/android0/bDeviceClass
    chmod 0660 /sys/class/android_usb/android0/bDeviceClass

# Support DM logging
#    chmod 0770 /system/bin/dmd

# Support DM logging
    chmod 0770 /system/bin/diagexe

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# Support Virtual Com
    chmod 0770 /system/bin/vcd

# Support AP/CP log dump
    chmod 0770 /system/bin/sced

# Switch Device
    chown system radio /sys/class/sec/switch/vbus_value

# LPM mode for ccic
    chown system radio /sys/class/sec/ccic/lpm_mode
    chown system radio /sys/class/sec/ccic/ccic_control_option

# IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

on fs
    mount_all /fstab.samsungexynos7870
    setprop ro.crypto.fuse_sdcard true
    chown radio system /efs

# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/manufacture_code
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature
    chown system radio /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/lux
    chown system system /sys/class/lcd/panel/adaptive_control
    chown system system /sys/class/lcd/panel/alpm
    chown system system /sys/class/lcd/panel/dpui
    chown system system /sys/class/lcd/panel/dpui_dbg
    chown system system /sys/devices/svc/OCTA/SVC_OCTA

# Permissions for MDNIE
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system /sys/class/mdnie/mdnie/sensorRGB
    chown system system /sys/class/mdnie/mdnie/mdnie_ldu
    chown system system /sys/class/mdnie/mdnie/night_mode
    chown system system /sys/class/mdnie/mdnie/whiteRGB

    chown system system /sys/class/lcd/panel/hmt_on
    chmod 0660 /sys/class/lcd/panel/hmt_on
    chown system system /sys/class/lcd/panel/hmt_bright
    chmod 0660 /sys/class/lcd/panel/hmt_bright
    chown system system /sys/class/mdnie/mdnie/hmt_color_temperature
    chmod 0660 /sys/class/mdnie/mdnie/hmt_color_temperature

# For cpefs partition
    check_fs /dev/block/platform/13540000.dwmmc0/by-name/CPEFS ext4
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/CPEFS /cpefs noatime nosuid nodev barrier=1
    chown radio system /cpefs
    chmod 0771 /cpefs

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys

# Permissions for System LSI NFC
# NFC : Permissions for NFC
    chmod 0660 /dev/sec-nfc
    chown nfc nfc /dev/sec-nfc
# Permissions for S.LSI ESE
    chmod 0660 /dev/p3
    chown system system /dev/p3

# Permission for flashlight control for HAL3.3
    chmod 0660 /sys/class/camera/flash/rear_torch_flash
    chown media system /sys/class/camera/flash/rear_torch_flash
    chmod 0660 /sys/class/camera/flash/front_torch_flash
    chown media system /sys/class/camera/flash/front_torch_flash
# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/input/enabled
    chown system system /sys/class/sec/tsp/ito_check
    chown system system /sys/class/sec/tsp/raw_check
    chown system system /sys/class/sec/tsp/module_id
    chown system system /sys/class/sec/tsp/multi_count
    chown system system /sys/class/sec/tsp/wet_mode
    chown system system /sys/class/sec/tsp/comm_err_count

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset
    chown system radio /sys/class/sec/sec_touchkey/touchkey_earjack
    chown system system /sys/class/sec/sec_touchkey/input/enabled
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_update
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_id_compare
    chown system radio /sys/class/sec/sec_touchkey/touchkey_light_table_write

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

# Permissions Camera
    mkdir /data/camera 0770 cameraserver system
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camfw_full
    chown system radio /sys/class/camera/rear/rear_checkfw_user
    chown system radio /sys/class/camera/rear/rear_checkfw_factory
    chown system radio /sys/class/camera/rear/rear_sensor_standby
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/rear/rear_companionfw
    chown system radio /sys/class/camera/rear/rear_companionfw_full
    chown system radio /sys/class/camera/rear/rear_calcheck
    chown system radio /sys/class/camera/rear/rear_caminfo
    chown system radio /sys/class/camera/rear/rear_sensorid
    chown system radio /sys/class/camera/rear/from_write
    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/rear/fw_update
    chown system radio /sys/class/camera/flash/rear_flash
    chown system radio /sys/class/camera/flash/front_flash
    chown cameraserver system /sys/class/camera/flash/rear_torch_flash
    chown cameraserver system /sys/class/camera/flash/front_torch_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camfw_full
    chown system radio /sys/class/camera/front/front_checkfw_factory
    chown system radio /sys/class/camera/front/front_camtype
    chown system radio /sys/class/camera/front/front_moduleid
    chown system radio /sys/class/camera/front/front_caminfo
    chown system radio /sys/class/camera/front/front_sensorid
    chown system radio /sys/class/camera/ois/selftest
    chown system radio /sys/class/camera/ois/ois_power
    chown system radio /sys/class/camera/ois/ois_rawdata
    chown system radio /sys/class/camera/ois/oisfw
    chown system radio /sys/class/camera/ois/ois_diff
    chown system radio /sys/class/camera/ois/fw_update
    chown system radio /sys/class/camera/ois/ois_exif
    chown system system /sys/devices/svc/Camera/SVC_rear_module
    chown system system /sys/devices/svc/Camera/SVC_front_module

# FM Radio
    chown system audio /dev/radio0
    chmod 0660 /dev/radio0

#ARGOSD network_throughput
    chown system system /dev/network_throughput
# ARGOSD
service argos-daemon /system/bin/argosd
    class main
    user system
    group system radio
	
# GPS
service gpsd /system/bin/gpsd -c /vendor/etc/gps.xml
    class main
    user gps
    group system inet net_raw wakelock
    ioprio be 0

# LPM
on property:ro.bootmode=charger
   mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/SYSTEM /system wait ro

on property:ro.bootmode=charger
    wait /dev/block/platform/13540000.dwmmc0/by-name/EFS
    check_fs /dev/block/platform/13540000.dwmmc0/by-name/EFS ext4
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/EFS /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit

on property:ro.bootmode=charger
   class_start sec-charger

service charger /charger
    class charger
    seclabel u:r:healthd:s0

# Bluetooth
on property:wc_transport.start_hci=true
    start start_hci_filter

on property:wc_transport.start_hci=false
    stop start_hci_filter

service start_hci_filter /vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth
    disabled

# MobiCore startup
service wifi-daemon /vendor/bin/cbd -tmodap_ap -bm -mm -P platform/13540000.dwmmc0/by-name/RADIO
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cbd:s0
    oneshot

# RPMB daemon
service rpmbd /system/bin/rpmbd
     user root
     group drmrpc
     class main

#on property:sys.mobicoredaemon.enable=true
#    start cs_service
#    write /proc/iccc_ready 1

on property:ro.multisim.simslotcount=1
    setprop persist.radio.multisim.config ss

on property:ro.multisim.simslotcount=2
    setprop persist.radio.multisim.config dsds

# Modem boot daemon
#    service cpboot-daemon /system/bin/cbd -d
#    class main
#    user root
#    group radio cache inet misc audio sdcard_rw log

# DM daemon
#    service DM-daemon /system/bin/dmd
#    class main
#    user root
#    group system

# SCE daemon
#    service SCE-daemon /system/bin/sced
#    class main
#    user root
#    group system

# diag daemon
#    service DM-daemon /system/bin/diagexe
#    class main
#    user root
#    group system

service fuse_sdcard /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard /storage/sdcard
    class late_start
    disabled
service fuse_usb1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb1 /storage/usb1
    class late_start
    disabled

# IPSec for VOLTE
service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system net_admin
    user system
    group system net_raw inet net_admin

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1

service prepare_param /system/bin/prepare_param.sh /dev/block/platform/13540000.dwmmc0/by-name/PARAM
    class core
    user root
    group root
    seclabel u:r:prepare_param:s0
    oneshot

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled
on property:ro.securestorage.knox=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage
on property:ro.securestorage.support=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon -R /dev/.secure_storage
    start secure_storage

# umount service
service umount_service /system/bin/umount -D /preload
    disabled
    oneshot

# Support Preload install apks
on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/HIDDEN /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    start umount_service

# SSWAP
service sswap /vendor/bin/sswap -s
    class core
    user root
    group root
    oneshot

# sem_daemon
service sem_daemon /system/bin/sem_daemon
    class core
    user system
    group system nfc
    disabled

on property:sys.boot_completed=1
    setprop security.semdaemonfinish 0
    start sem_daemon

on property:security.semdaemonfinish=1
    stop sem_daemon
